#game {
	padding: 1.5em 0.5em 0.5em 0.5em;
}
#game.away {
	display: none;
}

.column, #hold {
	display: inline-block;
	height: 8.8em;
	width: 2.2em;
	border: thin solid white;
	/* border-top: none; */
	border-radius: 2em; /* 0 0 2em 2em; */
	margin: 0.5em 0.9em;
}
.open .column, #hold.open {
	border-top: none;
	border-radius: 0 0 2em 2em;
}
.column:hover {
	box-shadow: 0 0 1em white;
}
.column::after {
	color: grey;
	margin-top: 0.1em;
	font-size: 80%;
}
.column:nth-child(1)::after {
	content: '1';
}
.column:nth-child(2)::after {
	content: '2';
}
.column:nth-child(3)::after {
	content: '3';
}
.column:nth-child(4)::after {
	content: '4';
}
.column:nth-child(5)::after {
	content: '5';
}
.column:nth-child(6)::after {
	content: '6';
}
.column:nth-child(7)::after {
	content: '7';
}
.column:nth-child(8)::after {
	content: '8';
}
.column:nth-child(9)::after {
	content: '9';
}
.column:nth-child(10)::after {
	content: '0';
}

#hold {
	height: 2.2em;
	vertical-align: middle;
}

.ball {
	margin: 0.1em;
	display: inline-block;
	width: 2em;
	height: 2em;
	border-radius: 1em;
}
.empty {
	height: 2em;
	width: 2em;
	margin: 0.1em;
	display: inline-block;
}

.squish .ball, .squish .empty {
	height: 1em;
}
.squish .column {
	border-radius: 0.666em;
}
.open.squish .column {
	border-top: none;
	border-radius: 0 0 0.666em 0.666em;
}

.squish.harder .ball, .squish.harder .empty {
	height: 0.5em;
}
.squish.harder .column {
	border-radius: 0.333em;
}
.open.squish.harder .column {
	border-top: none;
	border-radius: 0 0 0.333em 0.333em;
}

.green {
	background: #0f0;
}
.cyan {
	background: #0ff;
}
.blue {
	background: #06f;
}
.red {
	background: #f00;
}
.purple {
	background: #b0f;
}
.yellow {
	background: #ff0;
}
.orange {
	background: #f80;
}
.pink {
	background: #f8b;
}

.colorblind .green {
	background: #2f2;
}
.colorblind .cyan {
	background: #bdf;
}
.colorblind .blue {
	background: #06d;
}
.colorblind .red {
	background: #a00;
}
.colorblind .purple {
	background: #50a;
}
.colorblind .yellow {
	background: #ff6;
}
.colorblind .orange {
	background: #d60;
}
.colorblind .pink {
	background: #055;
}

button, select {
	font-size: 110%;
	color: black;
}
button:disabled, select:disabled {
	opacity: 0.5;
}

/*
#quit {
	position: absolute;
	left: 0.5em;
	top: 0.5em;
}
*/
#shuffle, #continue {
	position: absolute;
	top: 50%;
	left: 30%;
	width: 40%;
/*	box-shadow: 0 0 1em black; */
}
#continue {
	top: 40%;
}

.notouch {
	opacity: 0.75;
	pointer-events: none;
}

#win {
	position: absolute;
	top: 40%;
	left: 5%;
	width: 90%;
	text-align: center;
	background: white;
	color: black;
	font-size: 7vw;
	transform: scale(0) rotate(0);
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
/*	box-shadow: 0 0 1em black; */
	animation-name: colorcycle;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
#win.shown {
	transform: scale(1) rotate(-5deg);
}
@keyframes colorcycle {
	0% {
		color: darkgreen;
		background: lightgreen;
	}
	33% {
		color: darkblue;
		background: lightblue;
	}
	67% {
		color: darkred;
		background: lightpink;
	}
	100% {
		color: darkgreen;
		background: lightgreen;
	}
}

#help {
	margin-bottom: 1em;
}

#bins, #depth, #shuffle, #buttons, #bincontainer {
	transition: opacity 0.5s;
}
#bins {
/*	float: left; */
}
#depth {
/*	float: right; */
}

#streak {
	font-size: 90%;
	position: fixed;
	top: 0;
	left: 0;
	color: silver;
	background: black;
	padding: 0.5em;
	border-radius: 0 0 1em 0;
}
#streak .n {
	color: white;
}
#timer {
	font-size: 90%;
	position: fixed;
	top: 0;
	left: 50%;
	right: auto;
	color: wilver;
	background: black;
	padding: 0.5em;
	border-radius: 0 0 1em 1em;
	width: 5em;
	margin-left: -3em;
	text-align: center;
}
#seed {
	user-select: all;
	font-size: 90%;
	position: fixed;
	top: 0;
	right: 0;
	color: lightgreen;
	background: #0808;
	padding: 0.5em;
	border-radius: 0 0 0 1em;
}

.invisible {
	opacity: 0;
}

.hidden {
	display: none;
}
