html, body {
	user-select: none;
	background: black;
	color: silver;
	text-align: center;
	font-family: monospace;
	font-size: 110%;
	margin: 0;
	border: 0;

	display: table;
	width: 100%;
	height: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	transition: transform 0.5s;
}

#mainmenu {
	/*
	background: linear-gradient(55deg, #8000 55%, #8008 60%, #8000 65%),
				linear-gradient(120deg, #0800 40%, #0808 45%, #0800 50%),
				linear-gradient(10deg, #0080 20%, #0088 30%, #0080 40%);
   */
}

#mainmenu h1 {
	color: black;
	background: linear-gradient(silver, white, silver, grey, silver);
	text-shadow: 0 -1px 0.05em grey, 0 1px 0.05em white;
	letter-spacing: 0.1em;
	display: inline-block;
	text-align: center;
	padding: 0.125em 0.25em;
	border: 0.1em outset #ddd;
	border-radius: 0.25em;
	line-height: 1em;
	margin: 0.5em;
}
#mainmenu h2 {
	color: white;
	font-size: 29%;
	border: 0.5em solid white;
	border-radius: 10em;
	text-align: center;
	display: inline-block;
	padding: 1em;
}
#mainmenu h2.openbins {
	border-right: none;
	border-radius: 10em 0 0 10em;
}
#mainmenu h2 span {
	font-size: 500%;
	color: black;
	text-shadow: 1px 1px white, 1px -1px white, -1px -1px white, -1px 1px white, 1px 0 white, -1px 0 white;
	display: inline-block;
	border-radius: 1em;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
}
h2 span:nth-child(1) {
	background: #f00;
}
h2 span:nth-child(2) {
	background: #f80;
}
h2 span:nth-child(3) {
	background: #ff0;
}
h2 span:nth-child(4) {
	background: #0f0;
}
h2 span:nth-child(5) {
	background: #0ff;
}
h2 span:nth-child(6) {
	background: #06f;
}
h2 span:nth-child(7) {
	background: #b0f;
}
h2 span:nth-child(8) {
	background: #f8b;
}
h2.colorblind span:nth-child(1) {
	background: #a00;
}
h2.colorblind span:nth-child(2) {
	background: #d60;
}
h2.colorblind span:nth-child(3) {
	background: #ff6;
}
h2.colorblind span:nth-child(4) {
	background: #2f2;
}
h2.colorblind span:nth-child(5) {
	background: #bdf;
}
h2.colorblind span:nth-child(6) {
	background: #06d;
}
h2.colorblind span:nth-child(7) {
	background: #50a;
}
h2.colorblind span:nth-child(8) {
	background: #055;
}

ul {
	display: inline-block;
	font-size: 125%;
	padding: 0;
	list-style-type: none;
	margin-top: 0;
}
#mainmenu li a {
	margin: 0.25em;
	background: whitesmoke;
	color: black;
	padding: 0.25em 0.75em;
	border-radius: 2em;
	text-decoration: none;
	display: block;
}
#mainmenu li a:hover, #mainmenu li a:active {
	background: white;
	box-shadow: 0 0 1em silver;
}
#mainmenu li:nth-child(1) {
	line-height: 2em;
}

#code {
	font-size: 90%;
	position: fixed;
	left: 0;
	bottom: 0;
	color: lightgreen;
	background: darkgreen;
	padding: 0.5em 1em;
	border-radius: 0 1em 0 0;
}

a.credits {
	font-size: 90%;
	position: fixed;
	right: 0;
	bottom: 0;
	color: lightpink;
	background: purple;
	padding: 0.5em 1em;
	border-radius: 1em 0 0 0;
}

#prefs {
}
.block {
	margin-bottom: 5em;
	display: inline-block;
	text-align: left;
}
#prefs label {
	font-size: 125%;
	display: block;
	margin: 0.5em;
}
#prefs input {
	transform: scale(1.5);
}
#prefs label * {
	vertical-align: middle;
}
#prefs .floater {
	float: right;
}
.examplebin {
	vertical-align: top !important;
	display: inline-block;
	height: 4.5em;
	width: 1.2em;
	border: thin solid white;
	/* border-top: none; */
	border-radius: 2em; /* 0 0 2em 2em; */
	margin: 0 0.5em;
}
.openbins .examplebin {
	border-top: thin solid black;
	border-radius: 0 0 2em 2em;
}
.miniball {
	margin: 0.1em 0 0 0.1em;
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 1em;
}

#stats .block {
	text-align: center;
}
.block h1, .block h2 {
	font-weight: normal;
	display: block;
	font-size: 150%;
	color: white;
	border-bottom: thin solid white;
	text-align: left;
}
.block h2 {
	font-size: 130%;
}
#stats th {
	text-align: right;
}
#stats table {
	display: inline-block;
}
#stats table.grid th {
	background: silver;
	color: black;
	padding: 0 0.5em;
	font-size: 80%;
	font-weight: normal;
	text-align: left;
}
#stats table td {
	padding: 0 0.5em;
	text-align: right;
}
#stats table.grid td.seed {
	text-align: left;
}
.buttons {
	background: black;
	box-shadow: 0 0 1em black, 0 0 1em black;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1em;
}

#savedata {
	margin-top: 1em;
	text-align: center;
}
#savedata button {
	font-size: 100%;
}

a {
	color: lightgreen;
}

.away {
	display: none;
}

.hidden {
	display: none !important;
}
